@if (records().length === 0) {
  <p class="pr-empty">Još nema rekorda - završi trening da bi se pojavili.</p>
} @else {
  <ul class="prs">
    @for (pr of records(); track pr.exerciseId) {
      <li class="pr">
        <div class="pr__head">
          <mat-icon aria-hidden="true">emoji_events</mat-icon>
          <span class="pr__name">{{ pr.exercise }}</span>
        </div>
        <div class="pr__metrics">
          <div class="pr__metric">
            <span class="pr__label">Najbolji e1RM</span>
            <span class="pr__value numeric">
              {{ pr.bestE1Rm != null ? (pr.bestE1Rm | number: '1.0-1') + ' kg' : '-' }}
            </span>
          </div>
          <div class="pr__metric">
            <span class="pr__label">Najveća težina</span>
            <span class="pr__value numeric">
              {{ pr.bestWeight != null ? (pr.bestWeight | number: '1.0-1') + ' kg' : '-' }}
            </span>
          </div>
        </div>
        @if (pr.achievedAt) {
          <p class="pr__date numeric">Postignuto {{ pr.achievedAt | date: 'd. M. y.' }}</p>
        }
      </li>
    }
  </ul>
}
