POSTGRES_DB=strengthplanner
POSTGRES_USER=strengthplanner
POSTGRES_PASSWORD=change-me-local-password

ASPNETCORE_ENVIRONMENT=Production
API_PORT=5000
WEB_PORT=8080

JWT_ISSUER=StrengthPlanner
JWT_AUDIENCE=StrengthPlanner.Client
JWT_KEY=replace-with-at-least-32-characters-for-local-demo
JWT_EXPIRY_MINUTES=60
